body{
    background-color: lightblue;
}
.container{
    margin: 100px 0 0 100px;
    display: flex;
    flex-direction: column;
    width: 65%;
    
}
.row{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;

}

.one, .two, .three, .four, .five{
    margin: 10px 0 0 0;
}

button{
    color: black;
    width: 56px;
    height: 56px;
    background-color: hotpink;
    box-shadow: 5px 5px 10px darkcyan, -5px -5px 10px cyan;
    font-size: 20px;
    margin-left: 7px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif ;
    border-radius: 20%;
    
}

button:active{
    box-shadow: 1px 1px 2px gainsboro;
}

.back{
    width: 110px;
    border-radius: 10px;
}
.tab{
    width: 85px;
    border-radius: 10px;
}
.fslash{
    width: 85px;
    border-radius: 10px
}
.cap{
    width:100px;
    border-radius: 10px;

}
.enter{
    width:135px ;
    border-radius: 10px;
}

.shift{
    width: 150px;
    border-radius: 10px;

}
/* .other{
    width: 60px;
    border-radius: 10px;
} */
.space{
    width: 300px;
    border-radius: 10px;
}

.upDn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 7px;
    height: 3.5em;
   
}

.upDn button{
    height: 45%;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.five{
  align-items: center;  
  justify-content: space-evenly;
}
